In [1]:
import pandas as pd

In [2]:
df_basic = pd.read_csv('Data/IMDB/title_basics.tsv',sep='\t')
df_rating = pd.read_csv('Data/IMDB/title_ratings.tsv',sep='\t')
df_akas = pd.read_csv('Data/IMDB/title.akas.tsv',sep='\t')

/var/folders/nl/jzl2sdyd5g7gv2bk8lfg29tr0000gn/T/ipykernel_37461/3946871183.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_basic = pd.read_csv('Data/IMDB/title_basics.tsv',sep='\t')
/var/folders/nl/jzl2sdyd5g7gv2bk8lfg29tr0000gn/T/ipykernel_37461/3946871183.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_aka = pd.read_csv('Data/IMDB/title_akas.tsv',sep='\t')

In [3]:
df_basic.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [52]:
df_basic.columns

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')

In [53]:
set(df_basic['titleType'].tolist())

{'movie',
 'short',
 'tvEpisode',
 'tvMiniSeries',
 'tvMovie',
 'tvPilot',
 'tvSeries',
 'tvShort',
 'tvSpecial',
 'video',
 'videoGame'}

In [54]:
df_movie = df_basic.loc[df_basic['titleType'] == 'movie']

In [55]:
df_movie.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama

In [67]:
df_movie_pre = df_movie[['tconst', 'primaryTitle', 'startYear', 'genres']]
df_movie_pre.set_index('tconst', inplace=True)

In [69]:
df_rating.set_index('tconst', inplace=True)

In [71]:
df_allSet = pd.concat([df_movie_pre, df_rating.reindex(df_movie_pre.index)], axis=1)

In [72]:
df_allSet.head()

,primaryTitle,startYear,genres,averageRating,numVotes
tconst,,,,,
tt0000009,Miss Jerry,1894,Romance,5.3,198.0
tt0000502,Bohemios,1905,\N,4.5,14.0
tt0000574,The Story of the Kelly Gang,1906,"Action,Adventure,Biography",6.0,778.0
tt0000591,The Prodigal Son,1907,Drama,4.7,19.0
tt0000615,Robbery Under Arms,1907,Drama,4.5,23.0

In [73]:
df_allSet.to_csv('movie.csv')