In [9]:
import torch
import pandas as pd

In [16]:
df = pd.read_csv('Data/movie.csv')
title = df[['tconst', 'primaryTitle']]
df.set_index('tconst', inplace = True)

In [18]:
print(df.shape)
df.head()

(616994, 5)

,primaryTitle,startYear,genres,averageRating,numVotes
tconst,,,,,
tt0000009,Miss Jerry,1894,Romance,5.3,198.0
tt0000502,Bohemios,1905,\N,4.5,14.0
tt0000574,The Story of the Kelly Gang,1906,"Action,Adventure,Biography",6.0,778.0
tt0000591,The Prodigal Son,1907,Drama,4.7,19.0
tt0000615,Robbery Under Arms,1907,Drama,4.5,23.0

In [20]:
df.dropna()

,primaryTitle,startYear,genres,averageRating,numVotes
tconst,,,,,
tt0000009,Miss Jerry,1894,Romance,5.3,198.0
tt0000502,Bohemios,1905,\N,4.5,14.0
tt0000574,The Story of the Kelly Gang,1906,"Action,Adventure,Biography",6.0,778.0
tt0000591,The Prodigal Son,1907,Drama,4.7,19.0
tt0000615,Robbery Under Arms,1907,Drama,4.5,23.0
...,...,...,...,...,...
tt9916270,Il talento del calabrone,2020,Thriller,5.8,1347.0
tt9916362,Coven,2020,"Drama,History",6.4,4788.0
tt9916428,The Secret of China,2019,"Adventure,History,War",3.8,14.0
tt9916538,Kuambil Lagi Hatiku,2019,Drama,8.3,6.0
tt9916730,6 Gunn,2017,\N,8.4,6.0