In [2]:
import torch
import pandas as pd

In [3]:
df = pd.read_csv('Data/movie.csv')

In [5]:
df.head()

,tconst,primaryTitle,startYear,genres,averageRating,numVotes
0,tt0000009,Miss Jerry,1894,Romance,5.3,198.0
1,tt0000502,Bohemios,1905,\N,4.5,14.0
2,tt0000574,The Story of the Kelly Gang,1906,"Action,Adventure,Biography",6.0,778.0
3,tt0000591,The Prodigal Son,1907,Drama,4.7,19.0
4,tt0000615,Robbery Under Arms,1907,Drama,4.5,23.0

In [4]:
df.columns

Index(['tconst', 'primaryTitle', 'startYear', 'genres', 'averageRating',
       'numVotes'],
      dtype='object')